<div class="panel">

    <div class="panel-header">
        <div class="panel-title">
            {{client.wsUrl}} is {{client.getConnectionState()}}
            <div class="float-right" (click)="destroy()">close</div>
        </div>
    </div>
    <div class="panel-body">
        <textarea [(ngModel)]="events" class="form-input" #messages placeholder="Messages empty" rows="10"
                  readonly></textarea>
    </div>
    <div class="panel-footer">
        <div class="form-group">
            <label class="form-label">Message</label>
            <input [(ngModel)]="messageCode" class="form-input" type="number" placeholder="Enter message code"
                   (keydown.control.enter)="sendMessage()">
            <textarea [(ngModel)]="message" class="form-input" placeholder="Enter message"
                      (keydown.control.enter)="sendMessage()"
                      rows="3"></textarea>
        </div>
        <div class="form-group float-right">
            <button type="button" class="btn btn-primary" [disabled]="disableSend()"
                    (click)="sendMessage()">Send
            </button>
        </div>
    </div>
</div>

