<div class="p-4">
  <div class="container">
    <div class="panel p-4">
      <div class="panel-body">
        <div class="input-group">
          <input type="text" [(ngModel)]="url" class="form-input" placeholder="ws://localhost:2000/....">
          <button class="btn btn-primary input-group-btn"
                  [disabled]="!url"
                  (click)="createClient()">Create Client
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="columns">
      <div class="column col-sm-12 col-6 m-t-4" *ngFor="let client of ws.clients">
        <app-client
          [client]="client" (close)="removeClient(client.clientId)"></app-client>
      </div>
    </div>
  </div>
</div>
